@media (max-width: 1200px) {
	.text-hero h1 {
		font-size: 18rem;
	}

	.small-title {
		font-size: 12rem;
	}
	.title {
		font-size: 6.8rem;
		margin-bottom: 2.4rem;
	}
	.second-nav a:link {
		font-size: 2rem;
	}

	.contact-title {
		display: flex;
		justify-content: end;
		flex-direction: column;
		margin-bottom: 2.4rem;
	}

	.contact-title h3 {
		font-size: 1.8rem;
	}

	.contact-text p {
		font-size: 1.4rem;
	}
}

@media (max-width: 1001px) {
	.text-hero h1 {
		font-size: 18rem;
	}
	.small-title {
		font-size: 12rem;
	}
	.container {
		width: 85%;
	}

	.main-nav {
		padding-right: 6rem;
	}
	.text-hero {
		padding-top: 10rem;
	}
}

@media (max-width: 800px) {
	.text-hero {
		text-align: center;
	}
	.text-hero h1 {
		font-size: 16rem;
		margin-bottom: 3.6rem;
	}

	.small-title {
		font-size: 8rem;
	}

	.main-nav {
		justify-content: flex-end;
		padding: 6rem 6rem 0 6rem;
	}
	.page-number {
		position: absolute;
		left: 2.5%;
		top: 2.5%;
		font-size: 1.2rem;
	}

	.page-number span {
		font-size: 0.8rem;
	}

	.second-nav a:link {
		font-size: 1.6rem;
	}
	.title {
		/* text-align: center; */
		font-size: 5.4rem;
		margin-bottom: 2.4rem;
	}

	.contact-content {
		display: unset;
	}

	.contact-content > * {
		width: 100%;
	}

	textarea {
		height: 10em;
	}

	.contact-text {
		margin-bottom: 2.4rem;
	}

	.text-hero {
		padding-top: 8rem;
	}
}

@media (max-width: 540px) {
	.text-hero h1 {
		font-size: 12rem;
		margin-bottom: 3.6rem;
	}
	.small-title {
		font-size: 4rem;
	}

	.text-hero h3 {
		font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 10px;
		margin-right: -20px;
		display: flex;
		justify-content: center;
	}

	.main-nav {
		justify-content: center;
		padding: 6rem 6rem 0 6rem;
		margin-bottom: 2.4rem;
	}

	.title {
		/* text-align: center; */
		font-size: 4.2rem;
		margin-bottom: 2.4rem;
	}

	.contact-social-media {
		justify-content: center;
	}
	.text-hero {
		padding-top: 8rem;
	}
}

@media (max-width: 440px) {
	.main-nav {
		margin-bottom: 0rem;
		padding-top: 3rem;
	}
	.main-nav ul {
		gap: 2.4rem;
	}
	.main-nav a:link {
		font-size: 1.8rem;
	}

	.title {
		text-align: center;
		font-size: 4.8rem;
	}

	.page-number {
		display: none;
	}

	.text-hero {
		padding-top: 6rem;
	}
}
